<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.bcaas">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".base.BcaasApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.activity.BrandActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 解决Android 7.0文件共享的问题-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="io.bcaas.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />

        </provider>

        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ui.activity.CreateWalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ImportWalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WalletCreatedInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SetPasswordForImportWalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CheckWalletInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AddressManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.InsertAddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.activity.SendConfirmationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.activity.LanguageSwitchingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ModifyAuthorizedRepresentativesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
    </application>

</manifest>